<!--portfolio gallery-->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4" id="projects">
        {{#each projects as |project| }}
        <div class="col">
            <div class="card bg-transparent text-center h-100">
                <div class="card-img-top" font-size="2rem">{{{projectPic}}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{format_text projectTitle}}</h5>
                    <h6 class="card-subtitle mb-2">{{projectRole}}</h6>
                    {{!-- <img src={{projectPic}} alt="Man frustrated" style="width:100%"> --}}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal"
                        data-id="{{id}}">See More</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>