{{!-- <div class="card">
  <div class="card-header">
    <h5>Update your Project Details:</h5>
  </div>
  <div class="card-body">
    <form class="form update-project-form" id="update-project-form">
      <div class="form-group">
        <label for="project-title">Project Title:</label>
        <input class="form-input" type="text" id="project-title" name="project-title" value="{{projectTitle}}" />
      </div>
      <div class="form-group">
        <label for="project-description">Project Description:</label>
        <textarea class="form-input" id="project-description"
          name="project-description">{{projectDescription}}</textarea>
      </div>
      <div class="form-group">
        <label for="project-tools">Project Tools:</label>
        <textarea class="form-input" id="project-tools" name="project-tools">{{projectTools}}</textarea>
      </div>
      <div class="form-group">
        <label for="project-role">Project Role:</label>
        <textarea class="form-input" id="project-role" name="project-role">{{projectRole}}</textarea>
      </div>
      <div class="form-group">
        <label for="project-repo">Project Repo:</label>
        <textarea class="form-input" id="project-repo" name="project-repo">{{projectRepo}}</textarea>
      </div>
      <div class="form-group">
        <label for="project-url">Project URL:</label>
        <textarea class="form-input" id="project-url" name="project-url">{{projectURL}}</textarea>
      </div>
      <div class="form-group">
        <label for="project-screenshot">Project Screenshot:</label>
        <textarea class="form-input" id="project-screenshot" name="project-screenshot">{{projectScreenshot}}</textarea>
      </div>
      <div class="form-group">
        <label for="project-pic">Project Pic:</label>
        <textarea class="form-input" id="project-pic" name="project-pic">{{projectPic}}</textarea>
      </div>
      <div class="update-form-group">
        <button type="submit" class="btn" id="updateBtn" data-id="{{id}}">Save Update</button>
        <button class="btn" id="deleteBtn" data-id="{{id}}">Delete Project</button>
      </div>
    </form>
  </div>
</div> --}}


<form class="row g-3 update-project-form" id="update-project-form">
  <div class="col-md-6">
    <label for="project-title" class="form-label">Project Title</label>
    <input type="text" class="form-control" id="project-title" value="{{projectTitle}}">
  </div>
  <div class="col-md-6">
    <label for="project-role" class="form-label">Project Role</label>
    <select id="project-role" class="form-select" id="project-role" value="{{projectRole}}">
      <option selected>Sole Project</option>
      <option>Group Project</option>
    </select>
  </div>
  <div class="col-12">
    <label for="project-description" class="form-label">Project Description</label>
    <input type="text" class="form-control" id="project-description" value="{{projectDescription}}">
  </div>
  <div class="col-12">
    <label for="project-tools" class="form-label">Tools and Technologies used</label>
    <input type="text" class="form-control" id="project-tools" value="{{projectTools}}">
  </div>
  <div class="col-md-6">
    <label for="project-repo" class="form-label">Project Repo</label>
    <input type="text" class="form-control" id="project-repo" value="{{projectRepo}}">
  </div>
  <div class="col-md-6">
    <label for="project-url" class="form-label">Project URL</label>
    <input type="text" class="form-control" id="project-url" value="{{projectURL}}">
  </div>
  <div class="col-md-6">
    <label for="project-pic" class="form-label">Project Pic</label>
    <input type="text" class="form-control" id="project-pic" value="{{projectPic}}">
  </div>
  <div class="col-md-6">
    <label for="project-screenshot" class="form-label">Screenshot</label>
    <input type="text" class="form-control" id="project-screenshot" value="{{projectScreenshot}}">
  </div>
  <div class="col-12">
    <button type="submit" class="btn" id="updateBtn" data-id="{{id}}">Update</button>
  </div>
  <div class="col-12">
    <button type="click" class="btn" id="deleteBtn" data-id="{{id}}">Delete</button>
  </div>
</form>


<script src="/js/update.js"></script>
<script src="/js/delete.js"></script>